{% extends "base.html" %}

{% block title %}
    Sales Analytics - FreshCart
{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="mb-5">

        <h1 class="fw-bold">
            Sales Analytics
        </h1>

        <p class="text-muted">
            Analyze FreshCart sales performance.
        </p>

    </div>


    <!-- Summary Cards -->

    <div class="row g-4 mb-5">

        <div class="col-md-4">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <p class="text-muted mb-1">
                        Total Revenue
                    </p>

                    <h2 class="fw-bold">
                        ₹{{ total_revenue }}
                    </h2>

                </div>

            </div>

        </div>


        <div class="col-md-4">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <p class="text-muted mb-1">
                        Delivered Orders
                    </p>

                    <h2 class="fw-bold">
                        {{ total_orders }}
                    </h2>

                </div>

            </div>

        </div>


        <div class="col-md-4">

            <div class="card shadow-sm h-100">

                <div class="card-body">

                    <p class="text-muted mb-1">
                        Average Order Value
                    </p>

                    <h2 class="fw-bold">
                        ₹{{ average_order_value|floatformat:2 }}
                    </h2>

                </div>

            </div>

        </div>

    </div>


    <!-- Daily Sales -->

    <div class="card shadow-sm mb-4">

        <div class="card-body">

            {{ daily_chart|safe }}

        </div>

    </div>


    <!-- Monthly Sales -->

    <div class="card shadow-sm mb-4">

        <div class="card-body">

            {{ monthly_chart|safe }}

        </div>

    </div>


    <!-- Yearly Sales -->

    <div class="card shadow-sm mb-4">

        <div class="card-body">

            {{ yearly_chart|safe }}

        </div>

    </div>


    <!-- Top Products -->

    <div class="card shadow-sm mb-4">

        <div class="card-body">

            {{ product_chart|safe }}

        </div>

    </div>

</div>

{% endblock %}